/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/font/raleway-v29-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* cormorant-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/font/cormorant-v21-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/font/inter-v13-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.root1 {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root1 main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.root2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root2__img {
  width: 100px;
  height: 100px;
  -webkit-animation: waitLoad 2s infinite;
          animation: waitLoad 2s infinite;
}

@-webkit-keyframes waitLoad {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes waitLoad {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.link-button1, .link-button2 {
  background-color: transparent;
  border-radius: 40px;
  border: 0.5px solid #FFF;
  padding: 20px 30px 23px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1; /* 18px */
}

.link-button2 {
  border: 0.5px solid #CFC3B9;
  background: #B0BFD0;
}

.themeLight {
  --txtColor: 107 114 118;
  --txtColorInv: 255 255 255;
  --bgColor: 249 249 249;
  --sampleClr: 0 96 223; /*#0060df;*/
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

.themeDark {
  --txtColor: 255 255 255;
  --txtColorInv: 0 0 0;
  --bgColor: 0 0 0;
  --sampleClr: 23 237 144; /*#17ed90;*/
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}

body {
  font-family: "Raleway", sans-serif;
  color: rgb(var(--txtColor)/1);
  background-color: rgb(var(--bgColor)/1);
}

.containerExt {
  height: 100%;
  position: relative;
}

.footer {
  padding-top: 132px;
  margin-top: -132px;
  padding-bottom: 130px;
  background-image: url(../asset/img/bg-bot-main.png);
  background-position-y: 0;
  background-position-x: 56%;
  background-repeat: no-repeat;
  z-index: 1;
}

.footer_link-container {
  margin-top: 140px;
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 110px;
}

.footer_link-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}

.footer_link-socials {
  gap: 12px;
}

.testColor1 {
  color: rgb(var(--sampleClr)/0.5);
}

.testColor2 {
  color: cadetblue;
}

.rent {
  height: 853px;
  background-color: #9D9EAA;
  background-image: url(../asset/img/bg-rent.png);
  background-position: center;
  background-size: cover;
  color: rgb(var(--txtColorInv)/1);
}

.rent__glass {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100%;
  z-index: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(17px);
          backdrop-filter: blur(17px);
}

.rent__container {
  position: relative;
  padding-top: 200px;
}

.rent__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 260px;
}

.rent__iner-box {
  width: 50%;
}

.rent__iner-title {
  font-family: "Cormorant", serif;
  font-size: 80px;
  font-weight: 300;
  line-height: 1;
}

.rent__iner-text {
  margin: 24px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.rent__addres {
  position: relative;
  padding-left: 33px;
  font-family: "Raleway", sans-serif;
  max-width: 405px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.rent__addres::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 16px;
  height: 20px;
  background-image: url(../asset/svg/location.svg);
}

.rent__buttons {
  margin-top: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}