/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/font/raleway-v29-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* cormorant-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/font/cormorant-v21-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/font/inter-v13-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.root1 {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root1 main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.root2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightskyblue;
}

.buildData {
  margin-top: 20px;
}

.link-button1, .link-button2 {
  display: inline-block;
  background-color: transparent;
  border-radius: 40px;
  border: 0.5px solid #FFF;
  padding: 20px 30px 23px;
  white-space: nowrap;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1; /* 18px */
}

.link-button2 {
  border: 0.5px solid #CFC3B9;
  background: #B0BFD0;
}

.loader-104 {
  width: 175px;
  height: 80px;
  background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
  background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
  background-repeat: no-repeat;
  position: relative;
}
.loader-104::before {
  content: "";
  left: 60px;
  bottom: 18px;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FF3D00;
  background-image: radial-gradient(circle 8px at 18px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, #FFF 100%, transparent 0);
  background-repeat: no-repeat;
  -webkit-animation: rotationBack 3s linear infinite;
          animation: rotationBack 3s linear infinite;
}
.loader-104::after {
  content: "";
  left: 94px;
  bottom: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FF3D00;
  background-image: radial-gradient(circle 5px at 12px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, #FFF 100%, transparent 0);
  background-repeat: no-repeat;
  animation: rotationBack 4s linear infinite reverse;
}

@-webkit-keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.themeLight {
  --txtColor: 107 114 118;
  --txtColorInv: 255 255 255;
  --bgColor: 249 249 249;
  --sampleClr: 0 96 223; /*#0060df;*/
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

.themeDark {
  --txtColor: 255 255 255;
  --txtColorInv: 0 0 0;
  --bgColor: 0 0 0;
  --sampleClr: 23 237 144; /*#17ed90;*/
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}

a {
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  color: rgb(var(--txtColor)/1);
  background-color: rgb(var(--bgColor)/1);
}

.containerExt {
  height: 100%;
  position: relative;
}

.header__container {
  padding-top: 44px;
}

.header__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 113px;
  height: 52px;
}

.header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header__nav-sm {
  position: relative;
  padding-right: 20px;
}

.header__nav-sm::after {
  content: "";
  position: absolute;
  display: block;
  width: 9px;
  height: 5px;
  background-image: url(../asset/svg/arr-dn.svg);
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__nav-where {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.herro__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.herro__box-text {
  max-width: 50%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.herro__box-logo {
  max-width: 559px;
}

.herro__images-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 58px;
}

.herro__images-grid-big-item {
  grid-row: 1/3;
  height: 100%;
}

.herro__images-grid-item:last-child {
  -ms-flex-item-align: end;
      align-self: end;
}

.schedule__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.schedule__title-block h2 {
  font-family: "Cormorant", serif;
  font-size: 80px;
  font-weight: 300;
}

.schedule__interval {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.schedule__type-selectors {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule__day-title {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.schedule__day-title p {
  white-space: nowrap;
}

.schedule__day-title div {
  height: 1px;
  width: 100%;
  background-color: #6B7276;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.schedule__day-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.schedule__day-table thead {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.schedule__day-table tbody {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
}

.schedule__day-table tbody a {
  color: #36B9EB;
}

.schedule__day-table tbody tr {
  position: relative;
}

.schedule__day-table tbody tr::after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 10px);
  left: 0;
  top: 5px;
  border-radius: 40px;
  border: 1px solid rgba(107, 114, 118, 0.5);
  pointer-events: none;
}

.schedule__day-table td {
  padding: 25px 40px;
}

.schedule__fl {
  font-weight: 400;
}

.schedule__show-all-week {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.schedule__show-all-week img {
  width: 19px;
  height: 11px;
}

.schedule_link-button {
  padding: 20px 32px;
  border: 0.5px solid #6B7276;
  position: relative;
  padding-right: 60px;
}

.schedule_link-button::after {
  content: "";
  position: absolute;
  display: block;
  width: 9px;
  height: 5px;
  background-image: url(../asset/svg/arr-dn.svg);
  right: 32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.directions {
  padding: 120px 0 140px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7.89%, #DFEEFF), to(rgba(226, 240, 255, 0.65)));
  background: linear-gradient(180deg, #DFEEFF 7.89%, rgba(226, 240, 255, 0.65) 100%);
}

.directions__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  font-family: "Cormorant", serif;
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 48px;
}

.directions__title p {
  white-space: nowrap;
}

.directions__title div {
  height: 1px;
  width: 100%;
  background-color: #6B7276;
  opacity: 0.4;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-top: 20px;
}

.directions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #C0D1E7;
}

.directions__item {
  padding: 32px;
  height: 260px;
  max-width: 30%;
  min-width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  border: 1px solid #C0D1E7;
  background-color: #E0EEFF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-family: "Cormorant", serif;
  font-size: 38px;
  font-weight: 300;
}

.directions__item:hover {
  background-color: #fff;
}

.directions__item a {
  display: none;
}

.directions__item.play a {
  display: block;
}

.directions__item-top-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions__item-top-p img {
  width: 60px;
  height: 60px;
}

.rent {
  height: 853px;
  background-color: #9D9EAA;
  background-image: url(../asset/img/bg-rent.png);
  background-position: center;
  background-size: cover;
  color: rgb(var(--txtColorInv)/1);
}

.rent__glass {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100%;
  z-index: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(17px);
          backdrop-filter: blur(17px);
}

.rent__container {
  position: relative;
  padding-top: 200px;
}

.rent__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 260px;
}

.rent__iner-box {
  width: 50%;
}

.rent__iner-title {
  font-family: "Cormorant", serif;
  font-size: 80px;
  font-weight: 300;
  line-height: 1;
}

.rent__iner-text {
  margin: 24px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.rent__addres {
  position: relative;
  padding-left: 33px;
  font-family: "Raleway", sans-serif;
  max-width: 405px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.rent__addres::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 16px;
  height: 20px;
  background-image: url(../asset/svg/location.svg);
}

.rent__buttons {
  margin-top: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer {
  padding-top: 132px;
  margin-top: -132px;
  padding-bottom: 130px;
  background-image: url(../asset/img/bg-bot-main.png);
  background-position-y: 0;
  background-position-x: 50%;
  background-repeat: no-repeat;
  z-index: 1;
}

.footer__link-container {
  margin-top: 140px;
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 110px;
}

.footer__link-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}

.footer__link-socials {
  gap: 12px;
}

.testColor1 {
  color: rgb(var(--sampleClr)/0.5);
}

.testColor2 {
  color: cadetblue;
}

.root1 {
  background-image: url(../asset/img/bg-top-main.png);
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: 0;
}

.after-header {
  height: 140px;
}

.after-hero {
  height: 140px;
}

.after-rent {
  height: 0;
}

.after-schedule {
  height: 86px;
}

.after-directions {
  height: 120px;
}