// _footer.scss
.footer{
  padding-top: 132px;
  margin-top: -132px;
  padding-bottom: 130px;
  background-image: url(../asset/img/bg-bot-main.png);
  background-position-y: 0;
  background-position-x: 50%;
  background-repeat: no-repeat;
  z-index: 1;
}
.footer__link-container{
  margin-top: 140px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__link-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
}
.footer__link-block ul{
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer__link-socials{
  gap: 12px;
}