// _header.scss

.header__container{
  padding-top: 44px;
}
.header__line{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 840px){
    flex-direction: column;
    gap: 10px;
  }
  @media (max-width: 740px){
    flex-direction: row;
    gap: initial;
    justify-content: space-between;
    // width: 100%;
  }
}
.header__logo{
  width: 113px;
  height: 52px;  
}
.header__nav{
  @media (max-width: 840px){
    width: 100%;
  }  
  @media (max-width: 740px){
    width: 38px;
    height: 32px;  
  }
}
.header__nav-burger{
  display: none;

  @media (max-width: 740px){
    display: block;
  }
}
.header__nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;

  font-family: $Raleway; 
  font-size: 16px;
  font-weight: 400;
  // letter-spacing: 2.4px;

  @media (max-width: 1250px){
    @include vVal(gap, 1250px, 1024px, 44px, 20px);
  }
  @media (max-width: 1024px){
    gap: 20px;
  }
  @media (max-width: 840px){
    gap: 15px;
  }
  @media (max-width: 740px){
    display: none;
  }
}
.header__nav-sm{
  position: relative;
  padding-right: 20px;
}
.header__nav-sm::after{
  content: '';
  position: absolute;
  display: block;
  width: 9px;
  height: 5px;  
  background-image: url(../asset/svg/arr-dn.svg);
  background-size: cover;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header__nav-where{
  padding-left: 120px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;  

  @media (max-width: 1250px){
    @include vVal(padding-left, 1250px, 1024px, 120px, 20px);
  }
  @media (max-width: 840px){
    gap: 15px;
  }
}

