// _modal.scss
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  padding: 40px;
  overflow-y: auto;
  z-index: 1000;

  display: none;
  visibility: hidden;
}

// modal_burger
.modal_burger__content{
  padding: 60px 20px;
  width: 320px;
  max-width: 90%;
  min-height: 20vh;
  margin: 0 auto;
  cursor: default;
  position: relative;

  background-color: clr(bgColor);
  border-radius: 20px;
}
.modal_burger__close{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
}
.modal_burger__content h2{
  text-align: center;
  padding-bottom: 40px;
}
.modal_burger__content nav{
  display: flex;
  justify-content: center;  
}
.modal_burger .header__nav-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.modal_burger .header__nav-where{
  padding-left: 0;
}
.modal_burger .header__nav-where img{
  display: none;
}
.modal_burger .header__nav-items{
  padding-bottom: 40px;
}

// =========================
.modal__main_order{
  max-width: 780px;
  min-width: 280px;
}
