// _herro.scss
// .herro_container{ }

.herro__box{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.herro__box-text{
  max-width: 50%;
  flex-shrink: 1;

  font-family: $Raleway;
  font-size: 16px;
  font-weight: 400;
}
.herro__box-logo{
  max-width: 559px;
  width: 100%;
}
.herro__images-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 58px;
}

.herro__images-grid-item_big{
  grid-row: 1 / 3;
  height: 100%;
}
.herro__images-grid-item:last-child{
  align-self: end;
}

@media (max-width: 740px){
  .herro__images-grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .herro__images-grid-item{
    display: none;
  }
  .herro__images-grid-item.on-phone{
    display: block;
  }
}
@media (max-width: 630px){
  .herro__box{
    flex-direction: column;
  }
  .herro__box-text{
    max-width: initial;
  }
  .herro__images-grid-item.on-phone img{
    width: 100%;
  }
  .herro__images-grid{
    order: -1;
  }
}

