// _rent.scss
:root{
  --rent-iner-box-h: 0;
  --rent-container-padding-top: 150px;
  --rent-padding-bottom: 0;
}
@media (max-width: 1024px){
  :root{
    --rent-iner-box-h: 420px;
    --rent-container-padding-top: 50px;
    --rent-padding-bottom: 190px;
  }
}

.rent{
  height: 853px;
  background-color: #9D9EAA;
  background-image: url(../asset/img/bg-rent.webp);
  background-position:center;
  background-size: cover;
  padding-bottom: 0;

  color: clr(txtColorInv);

  @media (max-width: 1250px){
    @include vVal(height, 1250px, 1024px, 853px, 725px);
  }
  @media (max-width: 1024px){
    height: auto;
    padding-bottom: var(--rent-padding-bottom);
  }
}
.rent__glass{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100%;
  z-index: 0;

  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(17px);  

  @media (max-width: 1024px){
    top: calc(var(--rent-iner-box-h) + var(--rent-container-padding-top) + 64px);
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.rent__container{
  position: relative;
  padding-top: var(--rent-container-padding-top);

  @media (max-width: 1024px){
    padding-top: var(--rent-container-padding-top);
  }
}
.rent__inner-container {
  display: flex;
  justify-content: space-between;
  gap: 260px;

  @media (max-width: 1250px){
    @include vVal(gap, 1250px, 1024px, 260px, 40px);
  }
  @media (max-width: 1024px){
    flex-direction: column;
    gap: 64px 0;
  }
}
.rent__iner-box {
  width: 50%;
  position: relative;
  min-height: var(--rent-iner-box-h);

  @media (max-width: 1024px){
    min-height: initial;
    width: auto;
    max-width: 320px;
    height: var(--rent-iner-box-h);
  }
}
.rent__iner-title{
  font-family: $Cormorant;
  font-size: 80px;
  font-weight: 300;
  line-height: 1;

  @media (max-width: 1400px){
    @include vVal(font-size, 1400px, 1024px, 80px, 46px);
  }  
  @media (max-width: 1024px){
    @include vVal(font-size, 1024px, 375px, 46px, 36px);
  }
}
.rent__iner-text{
  margin: 24px 0;
  font-family: $Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.rent__addres{
  position: relative;
  padding-left: 33px;
  font-family: $Raleway;
  max-width: 405px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 80px;
}
.rent__addres::before{
  content: '';
  position: absolute;
  display: block;
  left: 0;
  width: 16px;
  height: 20px;
  background-image: url(../asset/svg/location.svg);
}
.rent__buttons{
  margin-top: 71px;
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 0;

  @media (max-width: 440px){
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }
}
.rent_link-button{
  @media (max-width: 440px){
    width: 100%;
    text-align: center;
  }
}
