// _schedule.scss
// .schedule{}
.schedule__title-block{
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media (max-width: 840px){
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
.schedule__title-block h2{
  font-family: $Cormorant;
  font-size: 80px;
  font-weight: 300;

  @media (max-width: 1250px){
    @include vVal(font-size, 1250px, 375px, 80px, 36px);
  }
}
.schedule__interval{
  display: flex;
  align-items: center;

  @media (max-width: 400px){
    width: 100%;
    justify-content: space-between;
  }
}
.schedule__interval-dates{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  font-family: $Raleway;
  font-size: 24px;
  font-weight: 500;

  @media (max-width: 1250px){
    @include vVal(font-size, 1250px, 375px, 24px, 18px);
    @include vVal(gap, 1250px, 375px, 32px, 18px);
  }
}
// .schedule__interval-from-to{
//   // letter-spacing: 1.2px;
// }
.schedule__interval-icon{
  @media (max-width: 1250px){
    @include vVal(width, 1250px, 375px, 37px, 28px);
    @include vVal(height, 1250px, 375px, 37px, 28px);
  }
}
.schedule__interval-year{
  @media (max-width: 1024px){
    display: none;
    // flex-direction: column;
    // align-items: center;
    // gap: 24px;
  }
  @media (max-width: 840px){
    display: block;
  }
}

.schedule__interval-params{
  display: none;

  @media (max-width: 1250px){
    padding-left: 30px;
    display: block;
  }
}

.schedule__type-selectors{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1250px){
    display: none;
  }
}

.schedule__day-title{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;

  font-family: $Raleway;
  font-size: 24px;
  font-weight: 500;
  // letter-spacing: 1.2px;  
}
.schedule__day-title p{
  white-space: nowrap; 
}
.schedule__day-title div{
  height: 1px;
  width: 100%;
  background-color: clr(borderColor, 1);
  flex-shrink: 1;
}

.schedule__day-table {
  margin-top: -10px;
	width: 100%;
  border-collapse: collapse;
	border: none;

  @media (max-width: 1024px){
    margin-top: 24px;
  }  
}
.schedule__day-table thead{
  font-family: $Raleway;
  font-size: 16px;
  font-weight: 600;

  @media (max-width: 1024px){
    display: none;
  }
}
.schedule__day-table tbody{
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  // letter-spacing: 0.9px;  
}
.schedule__day-table tbody a {
  color: #36B9EB;
}
.schedule__day-table tbody tr{
  position: relative;
}
.schedule__day-table tbody tr::after{
  content: '';
  position: absolute;
  // background-color: red;
  width: 100%;
  height: calc(100% - 10px) ;
  left: 0;
  top: 5px;
  // border-radius: 20px;
  // border: 1px solid red;

  border-radius: 40px;
  border: 1px solid rgba(107, 114, 118, 0.50);
  pointer-events: none;  

  @media (max-width: 1024px){
    border-bottom: 0;
  }
}
.schedule__day-table td{
  padding: 25px 40px;
}
.schedule__fl{
  font-weight: 400;
}

.schedule__show-all-week{
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  font-family: $Raleway;
  font-size: 18px;
  font-weight: 400;
  // letter-spacing: 0.9px;

  @media (max-width: 1250px){
    margin-top: 48px;
    @include vVal(margin-top, 1250px, 375px, 48px, 32px);
  }  
}
.schedule__show-all-week img{
  width: 19px;
  height: 11px;
}

.schedule__day-table tbody tr{
  @media (max-width: 1024px){
    display: flex;
    flex-wrap: wrap;
    // background-color: aqua;
    width: calc(100vw - 2*var(--c-offset));
    padding-top: 24px;
  }
}
.schedule__day-table td{
  @media (max-width: 1024px){
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.schedule__day-table tbody .td1{
  @media (max-width: 1024px){
    order: 1;
    flex-basis: 57%;
  }
}
.schedule__day-table tbody .td2{
  @media (max-width: 1024px){
    order: 3;
    flex-basis: 99%;
  }
}
.schedule__day-table tbody .td3{
  @media (max-width: 1024px){
    order: 4;
    flex-basis: 99%;
  }
}
.schedule__day-table tbody .td4{
  @media (max-width: 1024px){
    order: 2;
    flex-basis: 40%;
    /* background: red; */
    text-align: right;
  }
}
.schedule__day-table tbody .td5{
  @media (max-width: 1024px){
    order: 20;
    width: 100%;
    z-index: 12;
  }
}
.schedule__day-table tbody .td5 a{
  @media (max-width: 1024px){
    background-color: bisque;
    background-color: #F9F9F9;
    display: block;
    // width: 100%;
    text-align: center;
    padding: 18px 0;
    width: calc(100% + 40px + 40px);
    margin-left: -40px;

    border-radius: 30px;
    border: 1px solid rgba(107, 114, 118, 0.50);    
  }
}

// ---------------------------------
.schedule_link-button {
  padding: 20px 32px;
  border: 0.5px solid  clr(borderColor, 1);

  position: relative;
  padding-right: 60px;
}
.schedule_link-button::after{
  content: '';
  position: absolute;
  display: block;
  width: 9px;
  height: 5px;  
  background-image: url(../asset/svg/arr-dn.svg);
  background-size: cover;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}
