// _common.scss
@import '../common/_font';

@import '../common/_var';

@import '../common/_blocks';
@import '../common/_loader';

// https://www.rapidtables.com/convert/color/hex-to-rgb.html
// 	Hex to RGB Color Converter
.themeLight {
  --txtColor: 107 114 118; // #6B7276;
  --txtColorInv: 255 255 255; // FFFFFF
  --bgColor: 249 249 249; // #F9F9F

  --sampleClr: 0 96 223; /*#0060df;*/

  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.themeDark {
  --txtColor: 255 255 255;
  --txtColorInv: 0 0 0;
  --bgColor: 0 0 0;

  --sampleClr: 23 237 144; /*#17ed90;*/

  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}

body {
  font-family: $Raleway;
  color: clr(txtColor);
  background-color: clr(bgColor);
  // background-color: red;
}

.container{
}
.containerExt{
  height: 100%;
  position: relative;
}