// _common.scss
@import '../common/_font';

@import '../common/_var';

@import '../common/_blocks';

.themeLight {
  --txtColor: 0 0 0;
  --bgColor: 255 255 255;

  --sampleClr: 0 96 223; /*#0060df;*/

  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

.themeDark {
  --txtColor: 255 255 255;
  --bgColor: 0 0 0;

  --sampleClr: 23 237 144; /*#17ed90;*/

  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}
 
body {
  font-family: $Raleway;
  color: clr(txtColor);
  background-color: clr(bgColor);
}
