// _var.scss
$testColor: cadetblue;
$transitionTime: 0.3s;

$Raleway: 'Raleway', sans-serif;
$Cormorant: 'Cormorant', serif;
$Inter: 'Inter', sans-serif;

// ---------- used mixin's ------------------

@function clr($p, $o: 1) {
  @return rgb(var(--#{$p}) / $o);
}

// @mixin vCalc($val, $size1, $size2, $val1, $val2){
//   $k: calc(($val1 - $val2) / ($size1 - $size2));
//   $v: calc($val1 - (($size1 - 100vw) * $k)); //
//   $propGlob1: $v !global;
//   $val: $v;
// }
// //@include vCalc($myValue, 800px, 500px, 10px, 40px);

$propGlob1: 0;
$propGlob2: 0;
@mixin vVal($prop, $size1, $size2, $val1, $val2){
  $k: calc(($val1 - $val2) / ($size1 - $size2));
  $v: calc($val1 - (($size1 - 100vw) * $k)); //
  $propGlob1: $v !global;
  #{$prop}: $v;
}
//@include vVal(padding, 800px, 500px, 10px, 40px);

@mixin v2Val($prop, $size1, $size2, $val11, $val21, $val12, $val22){
  $k: calc(($val11 - $val12) / ($size1 - $size2));
  $v: calc($val11 - (($size1 - 100vw) * $k)); //
  $k2: calc(($val21 - $val22) / ($size1 - $size2));
  $v2: calc($val21 - (($size1 - 100vw) * $k2)); //
  $propGlob1: $v !global;
  $propGlob2: $v2 !global;
  #{$prop}: $v $v2;
}
// @include v2Val(padding, 800px, 500px, 10px, 40px, 40px, 10px);
